:defaults: &defaults
  :usage_tracker:
    :couchdb: "http://admin:passwd@127.0.0.1:5984/usage_tracker"
    :listen:  "127.0.0.1:5985"


test:
  <<: *defaults
  :usage_tracker:
    :couchdb: "http://admin:passwd@127.0.0.1:5984/usage_tracker_test"
    :listen:  "127.0.0.1:5986"

development:
  <<: *defaults

production
  <<: *defaults
