defaults: &defaults
  adapter: couchdb
  couchdb: "http://admin:suxsux@127.0.0.1:5984/usage_tracker"
  listen:  "127.0.0.1:5985"

development:
  <<: *defaults

production:
  <<: *defaults

test:
  <<: *defaults
  couchdb: "http://admin:suxsux@127.0.0.1:5984/usage_tracker_test"
