defaults: &defaults
  # Available adapters: 'couchdb', 'mongodb'
  # adapter: 'couchdb'

  # CouchDB connect settings
  # database: "http://127.0.0.1:5984/usage_tracker"

  #  MongoDB connect settings
  adapter: 'mongodb' 
  database:
    name: "usage_tracker"
    host: "127.0.0.1"
    port: 27017
    collection: "data"

  listen:  "127.0.0.1:5985"
  log_level: 'debug'

development:
  <<: *defaults

production:
  <<: *defaults

test:
  <<: *defaults
  
spec:
  <<: *defaults

